.biz {
  color: rgb(252, 215, 94);
}
.divbuttonehome {
  display: flex;
  gap: 3em;
}
.imgSmile {
  width: 250px;
  height: 250px;
}
.divPopupSmile .modal-content {
  background-color: #f8f863;
  border-radius: 50%;
  height:350px;
  width: 350px;
  
}
.imgPopupSmile {
  border-radius: 50%;
  height: 350px;
  width: 350px;
   justify-content: center;
  align-items: center;
}
.divPopupSmile .animationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: imgPopupSmile 1s ease-in-out infinite alternate;
}

@keyframes imgPopupSmile {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.2);
  }
}
.cardSpies {
  border-radius: 50%;
}

.colinput {
  border: 5px solid rgb(252, 215, 94);
  background-color: rgba(252, 215, 94, 0.37);
}

.title {
  margin: 50px;
  text-align: center;
  font-weight: 800;
  color: rgb(252, 215, 94);
  text-shadow: -3px -3px 4px rgba(253, 104, 119, 0.93);
  font-size: 5em;
}
.subtitle {
  margin-top: 15%;
  text-align: center;
  font-weight: 800;
  color: rgb(252, 215, 94);
  text-shadow: -3px -3px 4px rgba(253, 104, 119, 0.93);
  font-size: 2.5em;
}
.subtitleh2 {
  margin: 50px;
  text-align: left;
  font-weight: 800;
  color: rgb(252, 215, 94);
  text-shadow: -3px -3px 4px rgba(253, 104, 119, 0.93);
  font-size: 3em;
}
.radioMenu {
  color: aliceblue;
}
.input_category {
  height: 59px;
}

.titleHome {
  margin: 50px;
  text-align: center;
  font-weight: 800;
  color: rgb(252, 215, 94);
  text-shadow: -3px -3px 4px rgba(253, 104, 119, 0.93);
  font-size: 5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.carousel-image {
  height: 20rem;
  width: 100%;
}

.carousel {
  height: 100%;
  width: 20%;
  object-fit: cover;
  object-position: center;
}
.recommenders {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgb(252, 215, 94);
  border: 3px solid black;
}
.div_recommenders {
  height: 300px;
}
.imge_recommenders {
  width: 80px;
  height: 80px;
  margin: -390px 0px 0px 120px;
}
.text_recommenders {
  margin: 50px 0px 0px 60px;
  font-family: "MV Boli";
  color: rgba(253, 104, 119, 0.93);
  width: 180px;
}
.icon_recommenders {
  font-size: 3em;
  margin: -290px 0 0 170px;
  color: rgba(253, 104, 119, 0.93);
  text-shadow: -3px -3px 4px rgba(253, 104, 119, 0.93);
}
.react-multiple-carousel__arrow--right {
  display: none;
}
.react-multiple-carousel__arrow--left {
  display: none;
}

.cardMenu {
  width: 350px;
  height: 400px;
  margin-left: 250px;
  background-color: rgba(241, 208, 89, 0.638);
  border: 3px solid black;
}
.img_title {
  margin-left: 60px;
  margin-top: 15px;
  border: 3px solid black;
  width: 150px;
  height: 150px;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5) inset,
    -2px -2px 5px rgba(0, 0, 0, 0.5) inset;
}
.card_title {
  text-align: center;
}
.card_text {
  text-align: center;
}
.card_price {
  text-align: center;
}
.cardButten {
  margin-left: 25px;
}
#cardButten {
  width: 250px;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  border: 5px solid rgb(252, 215, 94);
}

.card {
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 2%;
  width: 19rem;
}
.buttonhome {
  margin-top: 2%;
  font-weight: 600;
  font-size: 18px;

  margin-bottom: 50px;
  padding: 6px 30px;
  border-radius: 50px;
  border: 5px solid rgb(252, 215, 94);
  background-color: rgba(252, 215, 94, 0.37);
}

.phome {
  color: aliceblue;
  font-size: 20px;
  text-align: justify;
}

.cardmenu {
  width: 300%;
}
.imagealert {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 1%;
}
.imagealert:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}
.alert {
  margin: 1%;
  color: aliceblue;
  font-size: 14px;
  background-color: rgba(252, 215, 94, 0);
  width: 95%;
  padding-bottom: 2%;
}
.alertlink {
  background-color: rgba(252, 215, 94, 0);
  width: 10em;
  color: aliceblue;
  margin: 0 0 0 0%;
}
.containercreat {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagecreat {
  border: 5px solid rgb(252, 215, 94);
  height: 215px;
  width: 300px;
  margin-bottom: 2%;
}
.buttonCreatCom {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  margin-left: 90%;
  margin-bottom: 10%;
}
.buttenDelEdiMenu {
  width: 3em;
  height: 3em;
  margin: 2%;
  border-radius: 50%;
  display: flexbox;
}
.buttenAddMenu {
  /*  background-color: rgba(252, 215, 94, 0); */
  width: 3.3em;
  height: 2em;
  margin-bottom: 1%;
  display: flexbox;
  border-radius: 0px;
}
.buttenCompletionOfAnOrder {
  background-color: rgba(252, 215, 94, 0);
  width: 90%;
  color: aliceblue;
  margin: 2em 0;
}
.buttonList {
  margin: 50px 150px;
  width: 50px;
  height: 50px;
}
.filled {
  background-color: rgba(252, 215, 94, 1);
}
.spiner {
  width: 3rem;
  height: 3rem;
  margin: 2%;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  display: flex;
  align-items: center;
  margin-left: 5%;
}
.buttons-wrappera {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  margin-top: 5%;
  left: 80%;
  transform: translateY(-30%);
}

.product-details {
  margin-left: 10px;
  /*   width: 200px; */
}
.paymentForm {
  border: 4px solid black;
  border-radius: 50px;
  margin: 2%;
  display: block;
  width: 251px;
  height: 50px;
  margin: 10px 0 10px 0px;
}
.buttonPay {
  margin: 10px 0 10px 0px;
  width: 251px;
}
.paymentCard {
  display: block;
  color: black;
  margin-top: 50px;
  margin-bottom: 50px;
}
.crmHeader {
  background-color: rgba(252, 215, 94, 1);
  font-size: 1.2em;
}
.table > :not(caption) > * > * {
  opacity: 0.7;
}

.tablacrm {
  font-weight: bold;
  color: black;
}
.inputBookTable {
  align-items: center;
  margin: 0 0 0 0;
  width: 160px;
  height: 80px;
}
.table-page .row {
  width: 227px;
  display: flex;
  flex-wrap: nowrap;
}
.table-page .row > * {
  align-items: center;
  width: 70%;
  padding: 0 0 0 0;
}
.table-page .button_book {
  border: 5px solid rgb(252, 215, 94);
  background-color: rgba(252, 215, 94, 0.37);
  width: 40%;
  margin: 2em 30%;
  align-items: center;
  border-radius: 25px;
  color: darkgoldenrod;
}

@media (max-width: 993px) {
  .tablacrm {
    font-size: 11px;
  }
  .buttons-wrappera {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /*  justify-content: flex-start;  */
    position: absolute;
    margin-top: 5%;
    transform: translateY(-30%);
  }
}
@media (max-width: 768px) {
  .buttons-wrappera {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    transform: translateY(-35%);
  }

  .tablacrm {
    font-size: 8px;
  }
  .product-details {
    width: 200px;
  }
  .phome {
    font-size: 14px;
    line-height: 17px;
  }
  .title {
    margin: 40px;
    text-align: center;
    font-weight: 600;
    color: rgb(252, 215, 94);
    text-shadow: -3px -3px 4px rgba(253, 104, 119, 0.93);
    font-size: 3em;
  }
  .buttonhome {
    justify-content: center;
  }
}
@media (max-width: 608px) {
  .medieCrm {
    display: none;
  }
  .tablacrm {
    font-size: 12px;
  }
}

@media (max-width: 520px) {
  .inputBookTable {
    /*   align-items: center; */
    margin: 0 0 0 0;
    width: 160px;
    height: 40px;
  }
  .table-page .row {
    width: 100%;
    display: block;
  }
  .table-page .row > * {
    align-items: center;
    width: 100%;
    padding: 0 0 0 0;
  }
  .bookContainer {
    margin: 0 0 0 10%;
  }
}
@media (max-width: 430px) {
  .buttons-wrappera {
    margin-top: 70px;
  }
  .product-item {
    display: block;
    align-items: center;
    margin-right: 20px;
  }
  .alertlink {
    width: 8em;
  }
  .buttenAddMenu {
    width: 2.64em;
  }
}
@media (max-width: 499px) {
  .table-page .button_book {
    width: 60%;
    margin: 2em 20%;
  }
}
@media (max-width: 375px) {
  .table-page .button_book {
    width: 80%;
    margin: 2em 10%;
  }
}
